p{
font-size: 15px;
}

.accordion{
background-color:white;
border:none;
width:50%;
font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}
.active, .accordion:hover{
color:blue;
width:50%
}
.panel{
  display: none;
  overflow: hidden;
font-family: Arial, Helvetica, sans-serif;
  font-size: 80%;
}

.center{
text-align:center;
}

.div1{
  
margin-left: 330px;
width:600px;
height:90px;
}

.div2{
margin-left: 220px;
width:600px;
height:160px;
}

.div3{
margin-left: 310px;
width:650px;
height:175px;
}

.div4{
margin-left: 200px;
width:600px;
height:190px;
}

li{
  font-size: 18px;
  text-align: justify;
}

#cont1{
margin-left:-500px;
margin-top:10px;
height:20px;
}

#cont2{
margin-left:-280px;
margin-top:10px;
height:20px;
}

#cont3{
margin-left:-370px;
margin-top:10px;
height:20px;
}

#cont4{
margin-left:-320px;
margin-top:10px;
height:20px;
}

#cont5{
margin-left:-260px;
margin-top:10px;
height:20px;
}

#cont6{
margin-left:-170px;
margin-top:10px;
height:20px;
}

#cont7{
margin-left:-330px;
margin-top:10px;
height:20px;
}

#cont8{
margin-left:-180px;
margin-top:10px;
height:20px;
}

#cont9{
margin-left:-270px;
margin-top:10px;
height:20px;
}

#cont10{
margin-left:-180px;
margin-top:10px;
height:20px;
}


#cont11{
margin-left:-100px;
margin-top:5px;
height:45px;
width: 700px;
}

#cont12{
margin-left:-50px;
margin-top:5px;
height:45px;
width: 700px;
}

#cont13{
margin-left:-30px;
margin-top:5px;
height:45px;
width: 700px;
}

#cont14{
margin-left:-160px;
margin-top:10px;
height:20px;
}

#cont15{
margin-left:-290px;
margin-top:10px;
height:20px;
}

#cont16{
margin-left:-285px;
margin-top:10px;
height:20px;
}

#cont17{
margin-left:-300px;
margin-top:10px;
height:20px;
}

#cont18{
margin-left:-320px;
margin-top:10px;
height:20px;
}

#cont19{
margin-left:-190px;
margin-top:10px;
height:20px;
}

#cont20{
margin-left:-330px;
margin-top:10px;
height:20px;
}


#cont21{
margin-left:-280px;
margin-top:10px;
height:20px;
}

#cont22{
margin-left:-320px;
margin-top:10px;
height:20px;
}

#cont23{
margin-left:-290px;
margin-top:10px;
height:20px;
}

#cont24{
margin-left:-270px;
margin-top:10px;
height:20px;
}

#cont25{
margin-left:-200px;
margin-top:10px;
height:20px;
}

#cont26{
margin-left:-10px;
margin-top:10px;
height:35px;
width: 700px;
}

#cont27{
margin-left:-300px;
margin-top:10px;
height:20px;
}

#cont28{
margin-left:-380px;
margin-top:10px;
height:20px;
}

#cont29{
margin-left:-250px;
margin-top:10px;
height:20px;
}

#cont30{
margin-left:-260px;
margin-top:10px;
height:20px;
}

#cont31{
margin-left:-350px;
margin-top:10px;
height:20px;
}

#cont32{
margin-left:-130px;
margin-top:10px;
height:20px;
}

#cont33{
margin-left:-220px;
margin-top:10px;
height:20px;
}

#cont34{
margin-left:-130px;
margin-top:10px;
height:20px;
}

#cont35{
margin-left:-350px;
margin-top:10px;
height:20px;
}

#cont36{
margin-left:-300px;
margin-top:10px;
height:20px;
}

#cont37{
margin-left:-360px;
margin-top:10px;
height:20px;
}

hr{
  margin-left: 200px;
width:700px;}
